<header>
    Page headerrr
    <ul>
        <% if(locals.user){%>
            <li>
            <a href="/profile"><%=user.name%></a>    
            </li>
            <li>
                <a href="/sign-out">Sign Out</a>
            </li>
        <%}
        else{%>
            <li>
                <a href="/sign-in">Sign in</a>
            </li>

            <li>
                <a href="/sign-in">Sign Up</a>
            </li>
        <%}%>

    </ul>
</header>