<!-- <h4>Friends</h4>
<% for(u of friend_user){%>
    <!-- jo profile hai vo maine users ke under nahi rakhi hai,so directly profile hi likhna hoga, users ki jaroorat nahi hai -->
                <p>
                    <a href="/profile/<%=u.id%>"><%= u.name%></a>
                </p>
    
        <%}%>    -->