#user-friends{
    // display: flex;
    color:yellow;
}
#home-container{
    display: flex;
    justify-content: space-between;
    // margin-left: 3resm;
    margin-right: 12rem;

}
// s
// }
// body{
//     // color:orange;
// }