<div>
    <p>Hi <%=comment.user.name%>!</p>
    <br>
    <br>
    <p>Your comment <strong><%=comment.content%></strong> has just been published on codeial</p>
    <br>
    <br>
    <h4>Thanks</h4>
</div>
